
/*========================== header */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 120px 0; */
    padding: 0 120px;
    height: 79px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.nav-links {
    display: flex;  
    align-items: center;
    padding: 10px;
    width: 474px;
    justify-content: space-around;
    text-decoration: none;
    
}
.nav-buttons{
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    
}
/* ======================hero */
.hero-container {
   position: absolute;
height: 640px;
left: 0%;
right: 0%;
top: 79px;

background: url(/src/images/hero/hero-img.jpg);
border-radius: 0px;;
}
.text-block {
    position: absolute;
height: 193px;
left: 8.33%;
right: 50%;
top: 218.5px;
}

.h1 {
    position: absolute;
height: 20px;
left: 2.67%;
right: 61.5%;
top: -0.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #E6B939;
}

.hero-h2{
    position: absolute;
height: 58px;
left: 2.67%;
right: -20.5%;
top: 18.5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #FFFFFF;
}

.hero-text{
    position: absolute;
height: 51px;
left: 2.67%;
right: 14.83%;
top: 143.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
color: #CACCD1;
}